@charset "utf-8";
body, html {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
div#wrapper {
	height: auto;
	width: 500px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
div#wrapper h1 {
	margin-left: 20px;
	padding-bottom: 7px;
	width: 460px;
	color: #666;
	border-bottom-width: 2px;
	border-bottom-style: inset;
	border-bottom-color: #fff;
}
div#wrapper div#inner-wrapper {
	padding: 20px;	
}
div#wrapper div#inner-wrapper form#feedback div.inputs {
	padding: 10px;
	color: #666;
}
div#wrapper div#inner-wrapper form#feedback div.inputs textarea#message {
	height: 100px;	
}
div#wrapper div#inner-wrapper form#feedback div.button {
	padding: 10px;
	width: 60px;
	margin: 15px auto;
}
div#wrapper div#inner-wrapper form#feedback div#response {	
	color: #333;
	border: 1px solid #404040;
	width: 360px;	
	margin: 0 auto 20px auto;
	height: auto;
	padding: 10px 10px 10px 70px;
	min-height: 45px;
}
div#wrapper div#inner-wrapper form#feedback div#response p {
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.error {	
	background: #FF9F9F url(error.png) no-repeat 5px 10px;						
}
.success {
	background: #B8F5B1 url(icon_ok.png) no-repeat 5px 10px;
}
.processing {
	background: #DED5AB url(ajax-loader.gif) no-repeat 5px 10px;	
}
